MCMOD/run/
MCMOD/run/world/stats/380df991-f603-344c-a090-369bad2a924a.json
MCMOD/run/world/session.lock
MCMOD/run/world/serverconfig/forge-server.toml
MCMOD/run/world/region/r.0.0.mca
MCMOD/run/world/region/r.0.-2.mca
MCMOD/run/world/region/r.0.-1.mca
MCMOD/run/world/region/r.-1.0.mca
MCMOD/run/world/region/r.-1.-2.mca
MCMOD/run/world/region/r.-1.-1.mca
MCMOD/run/world/poi/r.-1.-1.mca
MCMOD/run/world/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
MCMOD/run/world/level.dat_old
MCMOD/run/world/level.dat
MCMOD/run/world/entities/r.0.0.mca
MCMOD/run/world/entities/r.0.-1.mca
MCMOD/run/world/entities/r.-1.-1.mca
MCMOD/run/world/DIM1/data/raids_end.dat
MCMOD/run/world/DIM1/data/capabilities.dat
MCMOD/run/world/DIM-1/data/raids.dat
MCMOD/run/world/DIM-1/data/capabilities.dat
MCMOD/run/world/data/raids.dat
MCMOD/run/world/data/capabilities.dat
MCMOD/run/world/advancements/380df991-f603-344c-a090-369bad2a924a.json
MCMOD/run/whitelist.json
MCMOD/run/usernamecache.json
MCMOD/run/usercache.json
MCMOD/run/server.properties
MCMOD/run/options.txt
MCMOD/run/ops.json
MCMOD/run/logs/latest.log
MCMOD/run/logs/debug.log
MCMOD/run/logs/2021-12-28-1.log.gz
MCMOD/run/eula.txt
MCMOD/run/config/forge-common.toml
MCMOD/run/config/forge-client.toml
MCMOD/run/config/fml.toml
MCMOD/run/banned-players.json
MCMOD/run/banned-ips.json
MCMOD/run/logs/2021-12-28-2.log.gz
MCMOD/run/logs/2021-12-28-3.log.gz
MCMOD/run/logs/2021-12-28-4.log.gz
MCMOD/run/logs/debug-1.log.gz
MCMOD/run/logs/debug-2.log.gz
MCMOD/run/logs/debug-3.log.gz
MCMOD/run/options.txt
MCMOD/run/saves/TestWorld/advancements/380df991-f603-344c-a090-369bad2a924a.json
MCMOD/run/saves/TestWorld/data/capabilities.dat
MCMOD/run/saves/TestWorld/data/raids.dat
MCMOD/run/saves/TestWorld/DIM-1/data/capabilities.dat
MCMOD/run/saves/TestWorld/DIM-1/data/raids.dat
MCMOD/run/saves/TestWorld/DIM1/data/capabilities.dat
MCMOD/run/saves/TestWorld/DIM1/data/raids_end.dat
MCMOD/run/saves/TestWorld/entities/r.-1.-1.mca
MCMOD/run/saves/TestWorld/entities/r.-1.0.mca
MCMOD/run/saves/TestWorld/entities/r.0.-1.mca
MCMOD/run/saves/TestWorld/entities/r.0.0.mca
MCMOD/run/saves/TestWorld/icon.png
MCMOD/run/saves/TestWorld/level.dat
MCMOD/run/saves/TestWorld/level.dat_old
MCMOD/run/saves/TestWorld/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
MCMOD/run/saves/TestWorld/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
MCMOD/run/saves/TestWorld/poi/r.-1.-1.mca
MCMOD/run/saves/TestWorld/poi/r.-1.0.mca
MCMOD/run/saves/TestWorld/poi/r.0.-1.mca
MCMOD/run/saves/TestWorld/poi/r.0.0.mca
MCMOD/run/saves/TestWorld/region/r.-1.-1.mca
MCMOD/run/saves/TestWorld/region/r.-1.0.mca
MCMOD/run/saves/TestWorld/region/r.-2.-1.mca
MCMOD/run/saves/TestWorld/region/r.-2.0.mca
MCMOD/run/saves/TestWorld/region/r.0.-1.mca
MCMOD/run/saves/TestWorld/region/r.0.0.mca
MCMOD/run/saves/TestWorld/serverconfig/forge-server.toml
MCMOD/run/saves/TestWorld/session.lock
MCMOD/run/saves/TestWorld/stats/380df991-f603-344c-a090-369bad2a924a.json
MCMOD/run/options.txt
MCMOD/run/options.txt
MCMOD/morestuff.mcreator
