
MCMOD/.classpath
MCMOD/.gradle/7.2/executionHistory/executionHistory.bin
MCMOD/.gradle/7.2/executionHistory/executionHistory.lock
MCMOD/.gradle/7.2/fileHashes/fileHashes.bin
MCMOD/.gradle/7.2/fileHashes/fileHashes.lock
MCMOD/.gradle/buildOutputCleanup/buildOutputCleanup.lock
MCMOD/.gradle/buildOutputCleanup/outputFiles.bin
MCMOD/.gradle/checksums/checksums.lock
MCMOD/.gradle/checksums/md5-checksums.bin
MCMOD/.gradle/checksums/sha1-checksums.bin
MCMOD/.mcreator/generatorGradleCache
MCMOD/.settings/org.eclipse.jdt.core.prefs
MCMOD/build/_applyBinpatches_2/log.txt
MCMOD/build/_atJar_4/accesstransform.log
MCMOD/build/_atJar_4/log.txt
MCMOD/build/_atJar_4/parent_at.cfg
MCMOD/build/classpath/runClient_minecraftClasspath.txt
MCMOD/build/classpath/runServer_minecraftClasspath.txt
MCMOD/build/createSrgToMcp/output.srg
MCMOD/build/extractSrg/output.srg
MCMOD/gradle/wrapper/gradle-wrapper.properties
MCMOD/gradlew
MCMOD/morestuff.mcreator
MCMOD/src/main/resources/pack.mcmeta
MCMOD/.mcreator/workspaceBackups/morestuff.mcreator-backup_20211228_161132
